<section id="index-title">
  <h1>Where's Waldo?</h1>
</section>

<div id="container">
  <% @puzzles.each do |puzzle| %>

    <div id="puzzle-title">
      <%= puzzle.title %> <br>
      <span>Difficulty Level: <%= puzzle.difficulty %></span>
    </div>

    <div id="picture-buttons">

      <img id="puzzle-image" src=<%= puzzle.url %> alt="<%= puzzle.difficulty %> Puzzle">

      <div id="buttons">
        <button type="button">Play</button>
        <button type="button">Scores</button>
      </div>

    </div>
  <% end %>

</div>
